

/* Section Styles */

body {
margin: 10px 100px;
padding: 0px;
line-height: 1.5em;
width: 98%;
max-width: 1600px;
min-width: 250px;
font-family: Verdana, Geneva, sans-serif
}

header {
margin-top: 50px;
width: 100%;
text-align: left;
height: 200px;
}

header img {
float: left;
	max-width: 30%;
	max-height: 90%;
}
header #bb{ 
margin-left: 10px;
float: left;
text-align: left;
}




/*
section nav {
font-size: 0.9em;
text-align: center;
padding-bottom: 20px;
}
*/
h2 {
   /*background-color: rgb(0, 165, 0);*/
   background-color: rgb(139, 0, 0);
   
   color: white;
   color: rgba(255, 255, 255, 0.8);


   letter-spacing: 0.4em;
   line-height: 1.8em;
   text-indent: 1em;
}

nav {
   
   float:clear;
   width: 100%;
 
   }
nav ul {
list-style-type: none;
font-size: 1.1em;
}

nav ul li {
display: block;
float: left;
width: 23%;

text-align: center;
border: 1px solid rgb(139,0,0);
/*background-color: #afd3f3;*/
background-color: rgb(255,239,213);

line-height: 1.2em;
margin: 0px 4px 0px 0px;
}
/*nav a:link 
{
   text-decoration: none;
}
*/
a {
   color: rgb(139,0,0);
   }


footer {
display: block;
width: 100%;
clear: left;
text-align: center;
margin-top: 5px;
}

footer address {
display: block;
width: 100%;
clear: left;
font-size: 0.8em;
font-style: normal;
font-variant: small-caps;
margin-top: 20px;
border-top: 3px solid rgb(139,0,0);
}


/* Block Styles */
h1, h2, h3, h4, h5, h6 {
font-family: Arial, Helvetica, sans-serif;
}

header h1 {
margin: 1em 0em;
font-size: 2em;
}

h2 {
margin: 1em 0em;
font-size: 1.5em;
}

header h1 {
margin: 0px;
}

header h2 {
font-size: 1.2em;
font-style: italic;
margin: 0em;
padding-bottom: 0.5em;
border-bottom:1px black solid;
}

/*section {
   width: 80%;
   float: left;
   }
  */ 
 

   
 table {
     float:clear;
   width: 95%;
   margin-top: 80px;
 }

 /*<col width="80">
 <col width="300">
 <col width="130">
 <col width="200">
 <col width="80">
 <col width="200">

th {width: 100px}
td:nth-child(1) {
   width: 200px; }
td:nth-child(2) {
   width: 80px; }  
td:nth-child(3) {
   width: 300px; }
td:nth-child(4) {
   width: 100px; }
*/
img {
border-width: 0px;
}

